<!DOCTYPE html>
<html>
<head>

    <title>José Luis Núñez</title>

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link href="css/static.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quantico" rel="stylesheet">

    <script  src="https://unpkg.com/vue@2.5.21/dist/vue.js"></script>

</head>
 
<body>

    <div class="title">
	    <span>{{ greeting }}</span>
	</div>

    <div class="bg">
        <transition name="fade">
          <div v-if="first" class="image" :style="{ backgroundImage: 'url(' + imageFirst + ')' }" @mouseover="cancelTo()" @mouseout="loop()"></div>
        </transition>
        <transition name="fade">
          <div v-if="!first" class="image" :style="{ backgroundImage: 'url(' + imageSecond + ')' }" @mouseover="cancelTo()" @mouseout="loop()"></div>
        </transition>
    </div>

    <script src="js/static.js"></script>

</body>

</html>
